<div class="row mt-4">
	<div class="col-md-6 d-none d-md-block" style="height: 450px;">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>Cadastro de Usuário</h1>
			<img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px">
		</div>
	</div>
	<div class="col-md-6">
		<form [formGroup]="form" class="p-1" (ngSubmit)="register()">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label>Nome</label>
          <input
            type="text"
            class="form-control"
            [ngClass]=validateCss(f.primeiroNome)
            formControlName="primeiroNome"
            placeholder="Nome"
          />
          <app-erro-message class="invalid-feedback" [control]="f.primeiroNome" label="Nome"></app-erro-message>
        </div>
        <div class="form-group col-sm-6">
          <label>Sobrenome</label>
          <input
            type="text"
            class="form-control"
            [ngClass]=validateCss(f.ultimoNome)
            formControlName="ultimoNome"
            placeholder="Sobrenome"
          />
          <app-erro-message class="invalid-feedback" [control]="f.ultimoNome" label="Sobrenome"></app-erro-message>
        </div>
      </div>
      <div class="form-group">
        <label for="">Email:</label>
        <input
          class="form-control"
          [ngClass]=validateCss(f.email)
          formControlName="email"
          type="text"
          placeholder="Email"
        />
        <app-erro-message class="invalid-feedback" [control]="f.email" label="Email"></app-erro-message>
      </div>
      <div class="form-group">
        <label for="">Usuario:</label>
        <input
          class="form-control"
          [ngClass]=validateCss(f.userName)
          formControlName="userName"
          type="text"
          placeholder="Insira o nome de usuário"
        />
        <app-erro-message class="invalid-feedback" [control]="f.userName" label="Usuário"></app-erro-message>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="">Senha:</label>
          <input
            autocomplete
            class="form-control"
            [ngClass]=validateCss(f.password)
            formControlName="password"
            type="password"
            placeholder="Digite uma Senha"
          />
          <app-erro-message class="invalid-feedback" [control]="f.password" label="Senha"></app-erro-message>
        </div>
        <div class="form-group col-sm-6">
          <label for="">Confirmar Senha:</label>
          <input
            autocomplete
            class="form-control"
            [ngClass]=validateCss(f.confirmarPassword)
            formControlName="confirmarPassword"
            type="password"
            placeholder="Confirme a Senha"
          />
          <app-erro-message class="invalid-feedback" [control]="f.confirmarPassword" label="Senha"></app-erro-message>
        </div>
      </div>
      <div class="form-row p-1 mb-3">
        <div class="custom-control checkbox">
          <input
            type="checkbox"
            [ngClass]=validateCss(f.termo)
            formControlName="termo"
          >
          <label class="checkbox-inline ml-2">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
          <app-erro-message class="invalid-feedback" [control]="f.termo" label="Termos de Uso"></app-erro-message>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <button class="btn btn-lg btn-primary btn-block px-5" [disabled]="!form.valid" type="submit">
            Registar
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block" routerLink="/user/login">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>
	</div>
</div>
