<div class="row mt-4">
	<div class="col-md-6 d-none d-md-block" style="height: 450px;">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>Cadastro de Usuário</h1>
			<img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px">
		</div>
	</div>
	<div class="col-md-6">
		<form [formGroup]="form" class="p-1">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label>Nome</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{'is-invalid': f.nome.errors && f.nome.touched}"
            formControlName="nome"
            placeholder="Nome"
          />
          <div
            *ngIf="f.nome.errors?.required"
            class="invalid-feedback"
          >
            Campo obrigatório.
          </div>
          <div
            *ngIf="f.nome.errors?.minlength"
            class="invalid-feedback"
          >
            Campo deve ter no mínimo 3 caracteres.
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label>Sobrenome</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{'is-invalid': f.sobrenome.errors && f.sobrenome.touched}"
            formControlName="sobrenome"
            placeholder="Sobrenome"
          />
          <div
            *ngIf="f.sobrenome.errors?.required"
            class="invalid-feedback"
          >
            Campo obrigatório.
          </div>
          <div
            *ngIf="f.sobrenome.errors?.minlength"
            class="invalid-feedback"
          >
            Campo deve ter no mínimo 3 caracteres.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Email:</label>
        <input
          class="form-control"
          [ngClass]="{'is-invalid': f.email.errors && f.email.touched}"
          formControlName="email"
          type="text"
          placeholder="Email"
        />
        <div
          *ngIf="f.email.errors?.required"
          class="invalid-feedback"
        >
          Campo obrigatório.
        </div>
        <div
            *ngIf="f.email.errors?.email"
            class="invalid-feedback"
          >
            Email inválido.
          </div>
      </div>
      <div class="form-group">
        <label for="">Usuario:</label>
        <input
          class="form-control"
          [ngClass]="{'is-invalid': f.usuario.errors && f.usuario.touched}"
          formControlName="usuario"
          type="text"
          placeholder="Insira o nome de usuário"
        />
        <div
          *ngIf="f.usuario.errors?.required"
          class="invalid-feedback"
        >
          Campo obrigatório.
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="">Senha:</label>
          <input
            autocomplete
            class="form-control"
            [ngClass]="{'is-invalid': f.senha.errors && f.senha.touched}"
            formControlName="senha"
            type="password"
            placeholder="Digite uma Senha"
          />
          <div
            *ngIf="f.senha.errors?.required"
            class="invalid-feedback"
          >
            Campo obrigatório.
          </div>
          <div
            *ngIf="f.senha.errors?.minlength"
            class="invalid-feedback"
          >
            Campo deve ter no mínimo 8 caracteres.
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="">Confirmar Senha:</label>
          <input
            autocomplete
            class="form-control"
            [ngClass]="{'is-invalid': f.confirmarSenha.errors && f.confirmarSenha.touched}"
            formControlName="confirmarSenha"
            type="password"
            placeholder="Confirme a Senha"
          />
          <div
            *ngIf="f.confirmarSenha.errors?.required"
            class="invalid-feedback"
          >
            Campo obrigatório.
          </div>
          <div
            *ngIf="f.confirmarSenha.errors?.mustMatch"
            class="invalid-feedback"
          >
            As senhas não coincidem.
          </div>
        </div>
      </div>
      <div class="form-row p-1 mb-3">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="customCheck1"
          >
          <label class="custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <button class="btn btn-lg btn-primary btn-block px-5">
            Registar
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block" routerLink="/user/login">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>
	</div>
</div>
